:root {
    --num1: 110px;
    --num2: 150px;
}

body, html {
    background: linear-gradient(to right, #94B3E2, #c5b4e3);
}

.seat {
    position: absolute;
    width: 140px;
    height: 100px;
    transition: 1s ease;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.outer {
    text-align: center;
}

#content:not(.fly) {
    margin-left: calc(50% - 375px);
}

.a2 {
    margin-top: calc( var(--num1) * 1 );
}

.a3 {
    margin-top: calc( var(--num1) * 2 );
}

.a4 {
    margin-top: calc( var(--num1) * 3 );
}

.a5 {
    margin-top: calc( var(--num1) * 4 );
}

.b2 {
    margin-left: calc( var(--num2) * 1 );
}

.b3 {
    margin-left: calc( var(--num2) * 2 );
}

.b4 {
    margin-left: calc( var(--num2) * 3 );
}

.b5 {
    margin-left: calc( var(--num2) * 4 );
}

.btn1, .btn2 {
    width: 250px;
    height: 100px;
    margin-top: 120px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 40px;
}

.btn1:hover, .btn2:hover, .btn3:hover{
    background-color: rgba(236, 236, 236, 0.5);
}

.btn1:active, .btn2:active, .btn3:active {
    background-color: rgba(211, 211, 211, 0.5);
}

.btn1 p, .btn2 p, .btn3 p {
    margin-top: 0px;
    font-size: 20px;
}

.btn2 {
    width: 200px;
    position: absolute;
    margin-left: -250px;
}

.btn3 {
    width: 750px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 40px;
    position: absolute;
    margin-left: -250px;
}

.dispenser {
    margin-top: calc( var(--num1) * 5 );
    margin-left: calc( var(--num2) * 2 );
}

#nameInput {
    z-index: 1;
    width: 250px;
    height: 100px;
    font-size: 50px;
    position: absolute;
    border-radius: 15px;
    margin-top: 200px;
    border: none;
}

.inv {
    display: none;
}