@font-face {
    font-family: 'Godo';
    src: url('GodoM.ttf');
}

:root {
    --num1: 110px;
    --num2: 150px;
    --num3: 5;
    --num4: 5;
    --mode: '모드: 자리변경';
}

body, html {
    background: linear-gradient(to right, #94B3E2, #c5b4e3);
}

html * {
    font-family: 'Godo';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div[seat='true'] {
    position: absolute;
    width: 140px;
    height: 100px;
    transition: 1s;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
    font-size: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
    cursor: pointer;
}

#content {
    margin-left: calc(50% - var(--num2) * var(--num3) / 2);
}

.a2 {
    margin-top: calc( var(--num1) * 1 );
}

.a3 {
    margin-top: calc( var(--num1) * 2 );
}

.a4 {
    margin-top: calc( var(--num1) * 3 );
}

.a5 {
    margin-top: calc( var(--num1) * 4 );
}

.a6 {
    margin-top: calc( var(--num1) * 5 );
}

.a7 {
    margin-top: calc( var(--num1) * 6 );
}

.a8 {
    margin-top: calc( var(--num1) * 7 );
}

.b2 {
    margin-left: calc( var(--num2) * 1 );
}

.b3 {
    margin-left: calc( var(--num2) * 2 );
}

.b4 {
    margin-left: calc( var(--num2) * 3 );
}

.b5 {
    margin-left: calc( var(--num2) * 4 );
}

.b6 {
    margin-left: calc( var(--num2) * 5 );
}

.b7 {
    margin-left: calc( var(--num2) * 6 );
}

.b8 {
    margin-left: calc( var(--num2) * 7 );
}

.btn1, .btn2 {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 40px;
    padding-top: 10px;
}

.btn1 {
    width: 250px;
    height: 100px;
    margin-top: 120px;
    margin-left: calc(50% - 125px - 4px);
}

button {
    cursor: pointer;
}

button:not(.optionbtns):hover {
    background-color: rgba(236, 236, 236, 0.5);
}

button:not(.optionbtns):active {
    background-color: rgba(211, 211, 211, 0.5);
}

button:not(.optionbtns) p {
    margin-top: 0px;
    font-size: 20px;
}

.btn2 {
    width: calc(var(--num2) * var(--num3) - 10px);
    height: 90px;
    margin-top: 10px;
    position: absolute;
    margin-left: calc(50% - var(--num2) * var(--num3) / 2 - 7.5px);
}

.dispenser {
    margin-top: calc( var(--num1) * var(--num4) );
    margin-left: calc( var(--num2) * (var(--num3) - 1) / 2 );
}

#nameInput {
    display: none;
    z-index: 2;
    width: 250px;
    height: 100px;
    font-size: 50px;
    position: absolute;
    border-radius: 15px;
    border: none;
    margin-left: calc(50% - 125px);
    padding: 0;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(236, 236, 236);
    box-shadow: rgb(138, 138, 138) 3px 3px 6px 0px inset, rgba(218, 218, 218, 0.5) -3px -3px 6px 1px inset;
}

#nameInput:focus {
    outline: none;
}

#popup {
    z-index: 1;
    position: absolute;
    width: calc(var(--num2) * var(--num3) - 10px);
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: calc(50% - var(--num2) * var(--num3) / 2 - 7.5px);
    margin-top: 100px;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#nameOuter {
    position: absolute;
    margin-top: 140px;
    text-align: left;
    height: 0;
    font-size: 40px;
    width: calc(var(--num2) * var(--num3) - 100px);
    background-color: rgb(236, 236, 236);
    padding: 0;
    margin-left: calc(50% - (var(--num2) * var(--num3) - 100px) / 2);
    border-radius: 15px;
    transition: 0.15s;
    box-shadow: rgb(138, 138, 138) 3px 3px 6px 0px inset, rgba(218, 218, 218, 0.5) -3px -3px 6px 1px inset;
}

#nameList {
    margin-top: 25px;
    display: flex; 
    align-content: flex-start; 
    flex-direction: column; 
    flex-wrap: wrap; 
    overflow: auto;
    height: 0;
    transition: 0.15s;
}

#nameList li {
    list-style: none;
    margin-right: 50px;
}

.optionbtns {
    display: none;
    position: absolute;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 80px;
    height: 80px;
    margin-top: 30px;
    z-index: 3;
    font-size: 50px;
    background: linear-gradient(to right, #94B3E2, #c5b4e3);
}

.optionbtns:hover {
    background: linear-gradient(to right, #84a0c9, #afa0c9);
}

.optionbtns:active {
    background: linear-gradient(to right, #738aaf, #9588ac);
}

.optionbtns:hover::before {
    position: absolute;
    width: 120px;
    height: 40px;
    top: -60px;
    left: -20px;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.optionbtns:hover::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 15px solid white;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    left: calc(50% - 7.5px);
    top: -20px;
}

.save {
    margin-left: 135px;
}

.load {
    margin-left: 225px;
}

.save:hover::before {
    content: '저장하기';
}

.load:hover::before {
    content: '불러오기';
}

.saveload {
    margin-left: 45px;
    
}

.saveload:hover::before {
    content: '저장옵션';
}

#slMenuCover {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 280px;
    height: 100px;
    z-index: 2;
    margin-left: 35px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

li:hover::before {
    content: '클릭으로 삭제';
    position: absolute;
    width: 260px;
    height: 60px;
    top: -40px;
    left: calc(50% - 130px);
    padding-top: 5px;
    background-color: rgb(255, 152, 152);
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    z-index: 3;
}

.mode {
    z-index: 0;
    display: block;
    right: 0;
    margin-right: calc(50% - 230px);
    margin-top: -110px;
}

.mode:hover::before {
    content: var(--mode);
    width: 200px;
    left: -60px;
}

.help {
    z-index: 0;
    display: block;
    left: 0;
    margin-left: calc(50% - 230px);
    margin-top: -110px;
}

.help:hover::before {
    content: '도움말';
    width: 100px;
    left: -10px;
}

.wid {
    right: 0;
    margin-right: 225px;
}

.hei {
    right: 0;
    margin-right: 135px;
}

.wid:hover::before {
    content: '가로';
}

.hei:hover::before {
    content: '세로';
}

.widhei {
    right: 0;
    margin-right: 45px;
}

.widhei:hover::before {
    content: '크기옵션';
}

#whMenuCover {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 280px;
    height: 100px;
    z-index: 2;
    margin-right: 35px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
