@font-face {
    font-family: 'Godo';
    src: url('GodoM.ttf');
}

:root {
    --num1: 110px;
    --num2: 150px;
}

body, html {
    background: linear-gradient(to right, #94B3E2, #c5b4e3);
}

html * {
    font-family: 'Godo';
}

.seat {
    position: absolute;
    width: 140px;
    height: 100px;
    transition: 1s ease;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    line-height: 100px;
    font-size: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.outer {
    text-align: center;
}

#content {
    margin-left: calc(50% - 375px);
}

.a2 {
    margin-top: calc( var(--num1) * 1 );
}

.a3 {
    margin-top: calc( var(--num1) * 2 );
}

.a4 {
    margin-top: calc( var(--num1) * 3 );
}

.a5 {
    margin-top: calc( var(--num1) * 4 );
}

.b2 {
    margin-left: calc( var(--num2) * 1 );
}

.b3 {
    margin-left: calc( var(--num2) * 2 );
}

.b4 {
    margin-left: calc( var(--num2) * 3 );
}

.b5 {
    margin-left: calc( var(--num2) * 4 );
}

.btn1, .btn2 {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 40px;
    padding-top: 10px;
}

.btn1 {
    width: 250px;
    height: 100px;
    margin-top: 120px;
}

.btn1:hover, .btn2:hover {
    background-color: rgba(236, 236, 236, 0.5);
}

.btn1:active, .btn2:active {
    background-color: rgba(211, 211, 211, 0.5);
}

.btn1 p, .btn2 p {
    margin-top: 0px;
    font-size: 20px;
}

.btn2 {
    width: 750px;
    height: 90px;
    margin-top: 10px;
    position: absolute;
    margin-left: -250px;
}

.dispenser {
    margin-top: calc( var(--num1) * 5 );
    margin-left: calc( var(--num2) * 2 );
}

#nameInput {
    z-index: 2;
    width: 250px;
    height: 100px;
    font-size: 50px;
    position: absolute;
    border-radius: 15px;
    border: none;
    margin-left: -125px;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(235, 235, 235);
}

.inv {
    display: none;
}

#popup {
    z-index: 1;
    position: absolute;
    width: 750px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: calc(50% - 385px);
    margin-top: 100px;
    border-radius: 30px;
}

#nameList {
    margin-top: 150px;
    text-align: left;
    display:flex; 
    align-content:flex-start; 
    flex-direction:column; 
    flex-wrap:wrap; 
    overflow:auto;
    height: 300px;
}